[submodule "f1tenth_racetracks"]
    path = maps/f1tenth_racetracks
    url = git@github.com:f1tenth/f1tenth_racetracks
[submodule "maps/f1tenth_maps"]
	path = maps/f1tenth_maps
	url = git@github.com:CPS-TUWien/f1tenth_maps
[submodule "thirdparty/f1tenth_gym_ros"]
	path = thirdparty/f1tenth_gym_ros
	url = git@github.com:josslei/f1tenth_gym_ros
[submodule "thirdparty/highway"]
	path = thirdparty/highway
	url = git@github.com:google/highway
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = git@github.com:pybind/pybind11
