[submodule "f1tenth_racetracks"]
    path = maps/f1tenth_racetracks
    url = git@github.com:f1tenth/f1tenth_racetracks
[submodule "maps/f1tenth_maps"]
	path = maps/f1tenth_maps
	url = git@github.com:CPS-TUWien/f1tenth_maps
[submodule "thirdparty/f1tenth_gym_ros"]
	path = thirdparty/f1tenth_gym_ros
	url = git@github.com:josslei/f1tenth_gym_ros
[submodule "thirdparty/highway"]
	path = thirdparty/highway
	url = git@github.com:google/highway
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = git@github.com:pybind/pybind11
[submodule "thirdparty/casadi"]
	path = thirdparty/casadi
	url = git@github.com:casadi/casadi
[submodule "thirdparty/cgal"]
	path = thirdparty/cgal
	url = git@github.com:cgal/cgal
	ignore = all
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost.git
	ignore = all
